@charset "UTF-8";
/* 
██████╗  █████╗ ██████╗ ██╗  ██╗     ███╗   ███╗ ██████╗ ██████╗ ███████╗
██╔══██╗██╔══██╗██╔══██╗██║ ██╔╝     ████╗ ████║██╔═══██╗██╔══██╗██╔════╝
██║  ██║███████║██████╔╝█████╔╝█████╗██╔████╔██║██║   ██║██║  ██║█████╗  
██║  ██║██╔══██║██╔══██╗██╔═██╗╚════╝██║╚██╔╝██║██║   ██║██║  ██║██╔══╝  
██████╔╝██║  ██║██║  ██║██║  ██╗     ██║ ╚═╝ ██║╚██████╔╝██████╔╝███████╗
╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝     ╚═╝     ╚═╝ ╚═════╝ ╚═════╝ ╚══════╝ */
.dark-mode {
  background-color: var(--color-gray-900);
  color: var(--color-white);
}
.dark-mode p {
  color: var(--color-tex-wh-o70);
}
.dark-mode .sticky-header {
  background: transparent;
}
.dark-mode .sticky-header.scrolled {
  background: var(--color-gray-900);
}
.dark-mode header .nav-link {
  color: var(--color-gray-500);
}
.dark-mode header .nav-link:hover {
  color: var(--color-primary);
}
.dark-mode header .btn-toggle-switch .label {
  color: var(--color-gray-700);
}
.dark-mode header .btn-mobile {
  color: var(--color-white);
}
.dark-mode #showcase #sc-text {
  color: var(--color-tex-wh-o70);
}
.dark-mode #showcase .btn-download-app {
  background-color: var(--color-gray-200);
}
.dark-mode #showcase .btn-download-app:hover {
  background-color: var(--color-gray-500);
}
.dark-mode #showcase .btn-circle:hover {
  background-color: var(--color-gray-700);
}
.dark-mode #showcase .discover-more span {
  color: var(--color-tex-wh-o70);
  /* color: rgba(255, 255, 255, 0.5); */
}
.dark-mode .brand-box {
  background: var(--color-almostblack-blue);
}
.dark-mode #features .af-img-container {
  background-color: #1a1d25;
  border-radius: 0.3rem;
}
.dark-mode #slider {
  background-color: var(--color-gray-100-dark);
}
.dark-mode #features-followup .sf2-img-container::before {
  background-color: #1a1d25;
}
.dark-mode #testimonials {
  background-color: var(--color-gray-100-dark);
}
.dark-mode #testimonials .review-box {
  background-color: var(--color-white-dark);
}
.dark-mode #faq .a1, .dark-mode #faq .a2, .dark-mode #faq .a3, .dark-mode #faq .a4, .dark-mode #faq .a5, .dark-mode #faq .a6 {
  color: var(--color-white);
}
@media (width < 768px) {
  .dark-mode #faq .faq-accordion-box {
    border: 0.5px solid var(--color-gray-200-op);
  }
}
.dark-mode #faq .faq-accordion-box .box-box:active {
  border: 1px solid var(--color-gray-200-op);
}
.dark-mode #faq .faq-accordion {
  background-color: var(--color-gray-100-dark);
}
@media (width < 768px) {
  .dark-mode #faq .faq-accordion {
    background-color: var(--color-almostblack-blue);
    border: 0.5px solid var(--color-gray-200-op);
  }
}
.dark-mode #faq .faq-accordion + .faq-panel {
  background-color: var(--color-gray-100-dark);
}
@media (width < 768px) {
  .dark-mode #faq .faq-accordion + .faq-panel {
    background-color: var(--color-almostblack-blue);
    /* border: 0.5px solid var(--color-gray-200-op); */
  }
}
.dark-mode #faq .faq-accordion .icon-down {
  background-color: hsla(223, 26%, 14%, 0.911);
  color: var(--color-white);
}
.dark-mode #subscribe .sub-box {
  background-color: var(--color-gray-100-dark);
}/*# sourceMappingURL=themes.css.map */