@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.manrope-Regular {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.manrope-SemiBold {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.manrope-Bold {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.manrope-ExtraBold {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.f800 {
    font-weight: 800;
}

.f700 {
    font-weight: 700;
}

.f600 {
    font-weight: 600;
}

.f500 {
    font-weight: 500;
}

.f400 {
    font-weight: 400;
}

.h1 {
    font-size: 2.5rem;
    line-height: 1.3;
}

.h2 {
    font-size: 2rem;
    line-height: 1.3;
}

.h3 {
    font-size: 1.75rem;
    line-height: 1.3;
}

.h4 {
    font-size: 1.5rem;
    line-height: 1.4;
}

.h5 {
    font-size: 1.25rem;
    line-height: 1.4;
}

.h6 {
    font-size: 1rem;
    line-height: 1.4;
}

.d1 {
    font-size: 5rem;
    line-height: 1.3;
}

.d2 {
    font-size: 4.5rem;
    line-height: 1.3;
}

.d3 {
    font-size: 4rem;
    line-height: 1.3;
}

.d4 {
    font-size: 3.5rem;
    line-height: 1.3;
}

.d5 {
    font-size: 3rem;
    line-height: 1.3;
}

.d6 {
    font-size: 2.625rem;
    line-height: 1.3;
}

.ldt {
    font-size: 1.5rem;
    line-height: 1.6;
}

.xlt {
    font-size: 1.25rem;
    line-height: 1.6;
}

.lgt {
    font-size: 1.125rem;
    line-height: 1.6;
}

.mdt {
    font-size: 1rem;
    line-height: 1.6;
}

.smt {
    font-size: .875rem;
    line-height: 1.6;
}

.xst {
    font-size: .75rem;
    line-height: 1.6;
}