/* 
███╗   ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗ 
████╗  ██║██╔══██╗██║   ██║██╔══██╗██╔══██╗██╔══██╗
██╔██╗ ██║███████║██║   ██║██████╔╝███████║██████╔╝
██║╚██╗██║██╔══██║╚██╗ ██╔╝██╔══██╗██╔══██║██╔══██╗
██║ ╚████║██║  ██║ ╚████╔╝ ██████╔╝██║  ██║██║  ██║
╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝ */

/* Partly taken from School Guidance Material & ChatGPT */
#navbar {

    .container {

        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr auto auto;
        padding: 1rem;
        gap: 1.5em;
        
        @media (min-width: 768px) {
            padding: 1rem 0;
            gap: 3rem;
            
            @media (min-width: 1400px) {
                grid-template-columns: auto 1fr auto auto;
            }
        } 
    }

    /* ############################################################################################ */
                                    /* NAVBAR FUNCTIONALITY SETTINGS */
    /* ############################################################################################ */

    /* Start with the header being fully transparent */
    /* MEMO: -webkit-sticky is for Safari */
    .sticky-header {
        position: -webkit-sticky; 
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        max-height: 80px;
        background-color: transparent;
        backdrop-filter: blur(10px);
        transition: background-color 0.5s ease;
        z-index: 1000; 
    }

    /* When scrolled, make the header fully opaque in light mode */
    .sticky-header.scrolled {
        background: var(--color-white); 
    }


    /* ############################################################################################ */
                                    /* NAVBAR MENU SETTINGS */
    /* ############################################################################################ */

    /* MEMO: Menu Alternatives Show/Hide */ /* Menu option Show/Hide */
    .navbar {
        display: none;
        
        @media (min-width: 1400px) {
            display: flex;
            align-content: center;
            margin-top: .1rem;
            gap: 2rem;
        }  

        .nav-links {
            display: flex;
            gap: 1rem;
            
            .nav-link {
                color: var(--color-gray-900);
                font-weight: 600;
                text-decoration: none;
                
                &:hover {
                    color: var(--color-primary);
                    
                    &.active {
                        color: var(--color-primary);
                        text-decoration: underline;
                    }
                }
            
                &.active {
                    color: var(--color-primary);
                }
            
                /* Apply this only in dark mode */
                &.dark-mode {
                    color: var(--color-white);
            
                    &:hover,
                    &.active {
                        color: var(--color-primary);
                    }
                }
            }
        }
    }


    /* ############################################################################################ */
                                    /* SIGN UP/IN BUTTON SETTINGS */
    /* ############################################################################################ */

    /* MEMO: Sign in / up button Show/Hide */
    #auth-signin-create {
        display: none;

        @media (min-width: 1400px) {
            display: block;
        }
    }

    /* ############################################################################################ */
                                    /* LOGOTYPE & TEXT SETTINGS */
    /* ############################################################################################ */

    #logo {
        display: flex;
        position: relative;
        align-items: center;
        gap: 2rem;
        left: .3rem;
        max-width: 150px;

        #logo-img {
            transform: scale(1.4);
        }
        
        #logo-text {
            margin-right: 1.5rem;
            transform: scale(1.3);
        }
    }

    @media (min-width: 768px) {

        #logo {
            gap: 1rem;
            left: 1rem;
        
            #logo-img {
                transform: scale(1.2);
            }
            
            #logo-text {
                margin-left: .5rem;
                margin-right: 1.5rem;
                transform: scale(1.1);
            }
        }
        
        @media (min-width: 1400px) {

        }
    } 
}